
@font-face{
	font-family: Gunmetal;
	src: url(../css/font/gunmetal_regular/gunmetal_regular.ttf);
}

/* The below is the Title font*/
h1{
	font-size: 400%;

}


body{
	font-family: Gunmetal;
	background-color: white;
	text-align: center;
	margin: 0px auto;
	background-image: url(../img/bgmetaltexture.jpg);
	background-repeat: no-repeat;
}


/* Below contains the background for the game and the game itself*/
.container{
	border-bottom: 2px solid black;
    	border-top: 2px solid black;
	margin: 0 auto;
	text-align: center;
	background:
	linear-gradient(
		rgba(0, 0, 0, 0.20),
		rgba(0, 0, 0, 0.20)
		),
	 url(../img/bgcityruins.png);
	 background-repeat: no-repeat;

}

#row1{
	display: inline-block;
}

/* The below will be the score place holder*/
.box1{
	font-size: 150%;
	height: 50px;
	width: 100px;
	background-color: white;
	display: inline-block;
	border: 4px solid black;
	border-radius: 10px;
	margin-top: 2%;
}

/*Below will hold the dimensions and the margins of the scoreboards*/
#scoreBoard1{
	height: 50px;
	width: 100px;
	margin-right: 320px;
}

#scoreBoard2{
	height: 50px;
	width: 100px;
	margin-left: 320px;
}

#reset{
	background-color:  rgb(127, 140, 141);

}
#reset:hover {

	background-color: rgb(192, 57, 43);
}


/* Below will hold the dimensions of the portraits*/
.box2{
	height: 450px;
	width: 200px;
	background-color: white;
	display: inline-block;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 2%;
	margin-bottom: 2%;
	border-radius: 10px;
	border: 4px solid black;
}

/* Below will hold the dimensions of the game board*/
#gameboard{
	height: 450px;
	width: 480px;
	text-align: center;
	display: inline-block;
	position: relative;
	opacity: 0.8;
}

/* The below are the tile properties for the game board.*/
.tile {
	font-size: 800%;
	height: 140px;
	width: 140px;
	background-color: white;
	border: 3px solid black;
	border-radius: 15px;
	margin-left: 12px;
	margin-top: 4px;
	float: left;
}

.tile:hover {

	border: 3px solid red;
}



/* The below is the location for the vehicle selection portraits */
.box3{
		height: 100px;
		width: 100px;
		background-color: white;
		border-color: black;
		border-radius: 10px;
		border: 6px solid black;
		display: inline-block;
		text-align: center;

}

/* Below are the hover effects for the vehicle portraits*/
.box3:hover{
		border: 6px solid yellow;
		margin: auto;

}

/* Below are the skill buttons*/
#skillButton1{
		border-radius: 100px;
		height: 75px;
		width: 75px;
		margin-right: 200px;
	background:
	linear-gradient(
	     rgba(0, 0, 255, 0.20),
	     rgba(0, 0, 255, 0.20)
	),
	url(../img/worldradar.png);
	background-size: cover;
}

#skillButton2{
	border-radius: 100px;
	height: 75px;
	width: 75px;
	margin-left: 200px;
	background:
	linear-gradient(
		rgba(255, 0, 0, 0.20),
		rgba(255, 0, 0, 0.20)
		 ),
	url(../img/worldradar.png);
	background-size: cover;
}

/* Below are the images for the vehicles selection*/
#blitz{
	background-image: url(../img/Blitzport_select.png);
}
#tank{
	background-image: url(../img/Tank_select.png);
}
#bomber{
	background-image: url(../img/Bomber_select.png);
}

/* Below is the portrait UI*/
#player1{
	background: url(../img/radarscreen.jpg);
	background-repeat: no-repeat;
	background-size:  100% 100%;
}

#player2{
	background: url(../img/radarscreen.jpg);
	background-repeat: no-repeat;
	background-size:  100% 100%;

}
