
@font-face{
	font-family: Gunmetal;
	src: url(css/font/gunmetal_regular/gunmetal_regular.ttf);
}
body{
	font-family: Gunmetal;
	background-color: white;
	text-align: center;
	margin: 0px auto;
}

.container{
	background-color: gray;
	margin: 0 auto;
	text-align: center;
}

#row1{
	display: inline-block;
}

/* The below will be the score place holder*/

.box1{
	height: 50px;
	width: 100px;
	background-color: white;
	display: inline-block;
	border-radius: 10px;
	margin-top: 2%;
	
}
/*Below will hold the dimensions and the margins of the scoreboards*/
#scoreBoard1{
	height: 50px;
	width: 100px;
	margin-right: 320px;
}

#scoreBoard2{
	height: 50px;
	width: 100px;
	margin-left: 320px;
}

/* Below will hold the dimensions of the portraits*/
.box2{
	height: 450px;
	width: 200px;
	background-color: white;
	display: inline-block;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 2%;
	margin-bottom: 2%;
	border-radius: 10px;
}

/* Below will hold the dimensions of the game board*/
#gameboard{
	height: 450px;
	width: 480px;
	text-align: center;
	display: inline-block;
	position: relative;
}

/* The below are the tile properties for the game board.*/
.tile {
	height: 140px;
	width: 140px;
	background-color: red;
	border: 2px solid white;
	border-radius: 15px;
	margin-left: 14px;
	margin-top: 6px;
	float: left;
}

/* The below is the place holder location for the vehicle selection portraits */
.box3{
		height: 100px;
		width: 100px;
		background-color: white;
		border-color: black;
		border-radius: 10px;
		border: 6px solid black;
		display: inline-block;
		text-align: center;

}

/* Below are the hover effects for the vehicle portraits*/
.box3:hover{
	border: 6px solid yellow;
	margin: auto;
}

/* Below are the skill buttons*/
#skillButton1{
	border-radius: 100px;
	height: 75px;
	width: 75px;
	margin-right: 200px;
}

#skillButton2{
	border-radius: 100px;
	height: 75px;
	width: 75px;
	margin-left: 200px;